<a href="https://colab.research.google.com/github/ajyoti31/Assignments/blob/main/Programming%20Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python Program to Find the Factorial of a Number?
2. Write a Python Program to Display the multiplication Table?
3. Write a Python Program to Print the Fibonacci sequence?
4. Write a Python Program to Check Armstrong Number?
5. Write a Python Program to Find Armstrong Number in an Interval?
6. Write a Python Program to Find the Sum of Natural Numbers?

In [4]:
#1
num=int(input())
fact=1
if (num>0):
  for i in range(2,num+1):
    fact=fact*i

print("factorial of", num , "is" , fact)

6
factorial of 6 is 720

In [6]:
#2
num=int(input())
fact=1
if (num>0):
  for i in range(1,11):
    print(num,"x",i,"=",num*i )

4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [14]:
#3
num=int(input("how many terms="))
a=0
b=1
i=0
fact=1
while (i<num):
  print(a)
  c=a+b
  a=b
  b=c
  i=i+1

how many terms=0

In [34]:
#4
num=input()
num1=num
num=int(num)
sum=0
l=len(num1)
while (num>0):
  a=num%10
  sum=sum + (a**l)
  num=num//10
if(int(num1)==sum):
  print("armstrong number")
else:
  print("not an armstrong number")

153
armstrong number

In [33]:
#5.
lower=int(input())
upper=int(input())
for num in range(lower, upper + 1):

   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

1
100000
1
2
3
4
5
6
7
8
9
153
370
371
407
1634
8208
9474
54748
92727
93084

In [41]:
#6.
a=int(input("print the natural for sum"))
sum=0
i=1
while i<=a :
  sum=sum+i
  i+=1
print("sum of first", a ,"natural number is", sum)

3
sum of first 3 natural number is 6